{% extends "page_base.html" %}
{% block inner_content%}
                <div class="row">
            <h1 class="span4 offset2 title"> 公司简介 </h2>
        </div>
            <div class="row content">
                <p>
     　　            云南遵明融资担保有限公司是经云南省工商局注册，省财政厅批准的一家专业融资担保机构。公司资本雄厚，主要为企业和个人项目投资、融资担保、投资咨询提供专业化服务。
                 </p>
                 <p>　　
    公司凭借自身的专业化操作手法，本着“稳定中求发展 发展中求稳定”的经营理念，以国家产业政策为导向，以多元化资金为支撑，以专业化担保为运作主体，以先进的管理模式为保障，坚持稳健经营的操作方法,搭建公开、规范、高效的民间资本投融资担保平台，并为社会闲置资金提供安全稳定、高收益的投资渠道，从而为中小型民营企业、高新技术企业和个人创业者的发展助力加油，促进地方经济发展。</p><p>
    　　公司在稳定、完善和发展传统担保品种的基础上不断创新、探索和开拓，努力在行业打造高品质、多元化公司，全力为客户提供专业快捷的融资担保及理财服务。以一流的信誉为中小企业的发展排忧解难，提供诚信、高效的服务。公司现注册资金为人民币五千万元。</p><p>
    　　公司实力雄厚，经营规范，是目前云南省较大的投资担保公司，主要业务包括企业及个人房产、地产抵押融资担保，汽车货物质押融资担保、诉讼保全担保、个人信用融资担保、工程保证担保等，业务品种丰富，操作方式灵活。</p><p>
    　　公司拥有一支出色的管理团队和人才队伍，所有骨干均在大型投资公司、银行等金融机构工作多年，在金融、财务、担保及风险控制领域具有丰富经验。目前公司正处于迅速发展阶段，真诚期待与您合作共赢！</p>
    </div>
<div class="contact">
<div class="row pull-right" >
<p class="">
　　云南遵明融资担保有限公司 融资性担保机构经营许可证：滇0102000063</p>
</div>
<div class="row pull-right">
    <p >

    电话：0871—3987888，传真：0871—8596971
    　　公司地址：昆明市穿金路和白云路交叉口百金大厦12楼</p>
            </div>
</div>

{% end %}

