<!DOCTYPE html>
<head>
<meta charset="utf-8">

<meta http-equiv="Content-type" content="text/html; charset=gb2312" />

<title>遵明融资担保</title>
<link href="static/assets/css/bootstrap.css" rel="stylesheet">
<link href="static/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="static/css/ynzunming.css" rel="stylesheet">
</head>
<body>
      
    <div class="container-fluid" >
        {% block content%}{% end %}
    </div>
            
    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap-transition.js"></script>
    <script src="static/assets/js/bootstrap-alert.js"></script>
    <script src="static/assets/js/bootstrap-modal.js"></script>
    <script src="static/assets/js/bootstrap-dropdown.js"></script>

    <script src="static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="static/assets/js/bootstrap-tab.js"></script>
    <script src="static/assets/js/bootstrap-tooltip.js"></script>
    <script src="static/assets/js/bootstrap-popover.js"></script>
    <script src="static/assets/js/bootstrap-button.js"></script>
    <script src="static/assets/js/bootstrap-collapse.js"></script>

    <script src="static/assets/js/bootstrap-carousel.js"></script>
    <script src="static/assets/js/bootstrap-typeahead.js"></script>
</body>

