<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>


<ul class="nav nav-tabs" style="padding-left:330px;">

    <li class="active">
        <a href="/">首页</a>
    </li>
    <li>
       <a href="/about">公司简介 </a>
    </li>
    <li>
       <a href="/business"> 业务范围</a>
    </li>
      <li>
       <a href="/job">招聘英才</a>
     </li>
    <li>
        <a href="/contact">联系我们 </a>
    </li>
    <li>
        <a href="/links">友情链接</a>
    </li>

</ul>
