<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="span12">
        &nbsp;
    </div>
</div>


<div class="row">

    <div class="span8 offset1">
        <div class="span1">
            <a href="/about">首页</a>
        </div>
        <div class="span1">
           <a href="/about">首公司简介 </a>
        </div>
        <div class="span1">
            业务范围
        </div>
        <div class="span1">
            成功案例
        </div>
        <div class="span1">
           <a href="/job">招聘英才</a>
         </div>
        <div class="span1">
            联系我们
        </div>
        <div class="span1">
            友情链接
        </div>

    </div>
</div>
