{% extends "base.html" %}
{% block nav%}
<li class="active"><a href="/">首页</a></li>
              <li><a href="/about">公司简介</a></li>
              <li><a href="/job">招聘</a></li>
{% end %}
{% block content %}
                <div class="row">
            <div class="span11 home">
        {% include "header.html"%}
                &nbsp;
                                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
 
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="span4 offset1">
                        融资性担保机构经营许可证：滇0102000063
                    </div>
                </div>

                 <div class="row">
                    <div class="span4 offset1">
                        电话：0871-3987888，传真：0871-8596971
                    </div>
                </div>
                <div class="row">
                    <div class="span4 offset1">
                        公司地址：昆明市穿金路和白云路交叉口金大厦12楼
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>

                 <div class="row">
                    <div class="span10 offset2">
                        关于防范与直投子公司利益冲突的安排 资者信息调查 关于互联网行为规范的法律要求
                    </div>
 
                    &nbsp;
                </div>
                <div class="row">

                    &nbsp;
                </div>
                <div class="row">


                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>

 
 
 
 
 
            </div>
        </div>
    </div>
{% end %}
