{% extends "base.html" %}
{% block content %}
        <div class="home">

            {% include "header.html"%}
            <div style="margin-top:470px; margin-left:177px;">
                    <div >
                        融资性担保机构经营许可证：滇0102000063
                    </div>
                    <div >
                        电话：0871-3987888，传真：0871-8596971
                    </div>
                    <div >
                        公司地址：昆明市穿金路和白云路交叉口金大厦12楼
                    </div>
            </div>
                
             <div style="margin-top:30px;margin-bottom:60px;margin-left:480px;padding-bottom:30px;padding-top:10px;">
                    <b>遵明担保，融通四海</b>
            </div>
        </div>
{% end %}
