{% extends "base.html" %}
{% block nav%}
<li><a href="/">首页</a></li>
              <li><a href="/about">公司简介</a></li>
              <li class="active"><a href="/job">招聘</a></li>
{% end %}
{% block content %}
<div class="row job">
    <h1 class="span11 offset3">云南遵明融资担保有限公司</h1>
</div>
<div class="row">
  <h2 class="span10 offset4"> 招聘资料</h2>
</div>
<div class="row offset2">
    <h3 class="row">一、  招聘职位：风险控制专员</h3>
<div class="row">
    职位标签:  风险控制 金融 投资 数据分析 风险识别防范 
</div>
<div class="row">
    <span class="span10">  职位职能:  风险控制  </span> 
</div>
  <ol>
  工作描述： 
      <li>
      协助风控经理审查业务部门报送的调查评价报告，对调查报告内容的合规性及担保授信意见进行认定和评价，出具风控报告； 
      </li>
      <li>
      收集、整理、分析、保管和归档项目相关资料； 文书、合同报表的处理、跟进；
      </li>
      <li>
      风控经理进行风险识别、防范、化解； 
      </li>
      <li>
      负责对客户提出的投资咨询、项目评估、财务顾问等提供服务； 
      </li>
      <li>
      协助风控经理，对融资担保项目的风险分类提出意见。
      </li>
  </ol>
  <ol>
  任职要求： 
      <li>
      大专以上学历，经济、金融、投资、财务会计、审计等相关专业。 
      </li><li>
      银行或融资担保公司风险控制相关工作经验。 
      </li><li>
      具备较强的信息采集能力和数据分析能力
      </li>
  </ol>
</div>
<div class="row offset2">
        <h3 class="row">二、  招聘法务（专职，融资担保行业）</h3>
  <div class="row">
      职位标签:  专职法务 法律顾问 法律服务 
  </div>
  <div class="row">
      职位职能:  法务经理   
  </div>
  <div class="row">
        职位描述:全日制法律专业本科以上学历，取得律师资格证。
  </div>
</div>
<div class="row offset2">
  <h3 class="row">三：招聘职位：副总（融资担保公司）</h3>
  <div class="row">职位标签:  银行行长 银行副行长 融资担保公司 投资</div> 
  <div class="row">职位职能:  行长/副行长</div>   
  <ol>

  任职要求：
      <li>
      本科或硕士学历，金融、审计、投资、法律等相关专业；
      </li><li>
      有丰富的金融、投资、银行、担保等相关行业高层管理经验；
      </li><li>
      深入了解融资担保业务市场，具备敏锐的洞察力和判断力；
      </li><li>
      银行退休行长优先考虑
      </li>
  </ol>
</div>
<div class="row offset2">
  <h3 class="row">四：招聘职位融资业务主管</h3>
  <div class="row">职位标签:  融资 担保 营销 拓展 客户开发 </div>
  <div class="row">职位职能:  融资专员  市场/营销/拓展专员 </div>
  <ol>
  岗位职责： 
  <li>
  负责融资担保业务的咨询、受理、收集客户资料，协调担保业务的调查和分析，共同出具调查报告。 
  </li><li>
  协助融资担保业务全程的跟踪和监管服务，监控担保客户的经营状况和信贷履约情况。 
  </li><li>
  进行市场调查与市场预测和策划宣传等活动。 
  </li><li>
  能够提出营销合理化建议，参与营销策划活动的执行；
  </li><li>
  协助融资经理进行相应的市场推广，开发融资客户资源。
  </li>
  </ol>
  <ol>
  任职资格：
  <li>
  性别不限，金融、营销、法律等相关专业专科以上学历；
  </li><li>
  良好的表达、协调沟通及客户谈判能力、承压能力、独立工作能力，一定的职业化素养。
  </li>
  </ol>
</div>
<div class="row offset2 ">
  <h3 class="row">五、融资业务经理</h3>
  <div class="row">职位标签:  融资 担保 抵押 客户开发 </div>
  <div class="row">职位职能:  融资经理/融资主管   </div>
  <ol>
  岗位职责：
  <li>
  负责通过企业及个人房产、地产抵押、汽车货物质押、诉讼保全担保、个人信用融资担保、工程保证担保等形式开展融资担保业务。
  </li><li>
  跟踪管理项目进展，及时反映项目情况，对出现的问题及时提出解决意见。
  </li>
  </ol>
  <ol>
  任职条件：
  <li>
  经济、金融类大专及以上学历，参加过金融类相关培训；金融、经济类初级以上职称；
  </li><li>
  三年以上银行、担保、企业资金部门实际工作经验； 
  </li><li>
  熟悉信贷业务，具备企业财务知识； 
  </li><li>
  具备一定的人脉资源，重点负责开发客户，寻找有融资需求的潜在客户，完成定期定量的业务指标；
  </li><li>
  良好的沟通能力、团队协作能力，进取心强；适应工作需要的文字表达能力。
  </li>
  </ol>
</div>
<div class="row offset2">
 <h3 class="row">六：招聘职位：会计</h3>
  <ol>
  职位描述:
  <li>
  会计、财务等相关专业中专以上学历，有会计从业资格证书； 
  </li><li>
  最好为本地户口，可以是应届毕业生，有工作经验者优先； 
  </li><li>
  了解国家财经政策和会计、税务法规，熟悉银行结算业务； 
  </li><li>
  熟悉会计报表的处理，熟练使用财务软件； 
  </li><li>
  善于处理流程性事务、良好的学习能力、独立工作能力和财务分析能力； 
  </li><li>
  工作细致，责任感强，良好的沟通能力、团队精神
  </li>
  </ol>
  </div>
<div class="row offset2 ">
  <h3 class="row">七：招聘职位出纳</h3>
  <ol>
  职位描述:
  <li>
  会计、财务等相关专业中专以上学历，有会计从业资格证书； 
  </li><li>
  最好为本地户口，可以是应届毕业生，有工作经验者优先； 
  </li><li>
  了解国家财经政策和会计、税务法规，熟悉银行结算业务； 
  </li><li>
  熟悉会计报表的处理，熟练使用财务软件； 
  </li>
  <li>
  善于处理流程性事务、良好的学习能力、独立工作能力和财务分析能力； 
  </li><li>
  工作细致，责任感强，良好的沟通能力、团队精神
  </li>
  </ol>
</div>
<div class="row offset2 pull-right">

<h4>
  电话：0871—3987888，传真：0871—8596971
  　　公司地址：昆明市穿金路和白云路交叉口百金大厦12楼</h4>
  </div>
  <div class="row">
  &nbsp;
  </div>
<div class="row">
  &nbsp;
  </div>

</div>
{% end %}

