.landing_logo {
    text-align:center;
    margin-top: 80px;
}

.landing_thum div {
    text-align:center;
    margin-top: 30px;
}

.landing_thum {
    margin-left:50px;

}

.landing_footer {
    margin-top:40px;

}

.about {
    padding-top:80px;
}

.job {
    padding-top:80px;

}

.about_footer {
    margin-top:80px;

}

ol {
    font-size: 12px;

}

.home {
    background-image:url('/static/image/home_content.png');
    background-repeat:no-repeat;
}

