.landing_logo {
    text-align:center;
    margin-top: 80px;
}

.landing_thum div {
    text-align:center;
    margin-top: 30px;
}

.landing_thum {
    margin-left:50px;

}

.landing_footer {
    margin-top:40px;

}

.about {
    padding-top:80px;
}

.job {
    padding-top:80px;

}

.about_footer {
    margin-top:80px;

}

ol {
    font-size: 12px;

}

.home {
    background-image:url('/static/image/home_content.png');
    background-repeat:no-repeat;
    background-position:center;

}

body {
    background-color: #E8E8E8; 
}

.head_logo{
    margin-top:40px;
    margin-bottom:40px;
}

.left_nav{
    background-color: white;

}

.contact {
    margin-top:60px;
}

.title {
    margin-bottom:30px;
}

.content {
    font-size:16px;
}

.content-item {
    margin-bottom:50px;

}

.content-item h3{ 
    margin-bottom:10px;
}
